{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Téléphones en Vente{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-4 mb-3">Téléphones en Vente</h1>
        <div class="row">
            {% for telephone in telephones %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <a href="/Telephone/show/{{ telephone.IDTelephone }}">
                        {% if telephone.ImageRepository != null and telephone.ImageFilename != null %}
                            <img src="/uploads/images/{{ telephone.ImageRepository }}/{{ telephone.ImageFilename }}" style="height: 195px" class="object-fit-cover w-100">
                        {% else %}
                            <p>Aucune Image</p>
                        {% endif %}
                         </a>
                            alt="{{ telephone.getMarque() }} {{ telephone.getModele() }}">
                        <div class="card-body">
                            <h4 class="card-title">{{ telephone.getMarque() }}</h4>
                            <h5>{{ telephone.getModele() }}</h5>
                            <p class="card-text">{{ telephone.getCaracteristiques() }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/Telephone/show/{{ telephone.getIDTelephone() }}" class="btn btn-sm btn-outline-secondary">Détails</a>
                                </div>
                                <small class="text-muted">{{ telephone.getPrix() }} €</small>
                            </div>
                            <small class="text-muted">Publié le {{ telephone.getDatePublication()|date("d/m/Y") }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}