{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Update d'un Téléphone {% endblock %}

{% block body %}
    <h1>Update Téléphone</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Marque" name="Marque" value="{{ telephone.Marque }}">
        </div>

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Modèle" name="Modele" value="{{ telephone.Modele }}">
        </div>

        <div class="mb-3">
            <textarea class="form-control" placeholder="Caractéristiques" name="Caracteristiques" rows="3">{{ telephone.Caracteristiques }}</textarea>
        </div>

            <div class="mb-3">
        <input type="text" class="form-control" placeholder="Statut" name="Statut" value="{{ telephone.Statut }}">
            </div>

        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Prix" name="Prix" value="{{ telephone.Prix }}">
        </div>

        <div class="mb-3">
            <input type="number" class="form-control" placeholder="Quantité" name="Quantite" value="{{ telephone.Quantite }}">
        </div>

        <div class="mb-3">
            <input type="file" class="form-control" name="ImageFileName">
        </div>

        {% if telephone.ImageFileName is not null %}
            <p>Image Actuelle :</p>
            <p>
                <img src="/uploads/images/{{ telephone.ImageRepository }}/{{ telephone.ImageFileName }}" class="img-thumbnail"/>
            </p>
        {% endif %}

        <!-- Champs cachés pour conserver les informations actuelles de l'image -->
        <input type="hidden" name="ImageRepository" value="{{ telephone.ImageRepository }}">
        <input type="hidden" name="ImageFileName" value="{{ telephone.ImageFileName }}">

        <div class="mb-3">
            <label class="form-label"></label>
                <input type="hidden" id="longitude" name="Longitude" value="{{ telephone.Longitude }}">
                <input type="hidden" id="latitude" name="Latitude" value="{{ telephone.Latitude }}">
            <div class="w-100 mt-3" style="height: 450px" id="map"></div>
        </div>

        <input type="hidden" name="ID_Vendeur" value="{{ telephone.ID_Vendeur }}">
        <!-- Utiliser la date actuelle comme date de publication -->
        <input type="hidden" name="DatePublication" value="{{ "now"|date("Y-m-d") }}">

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicmFwaGFlbDI3IiwiYSI6ImNsc2l6N29rNDI3c2YyaXBjZTF1enEycDIifQ.hB_xW4UOmwk04ZI8ncYHcQ';
        const map = new mapboxgl.Map({
            container: 'map',
            center: [2.348365699659979, 48.8533425286613],
            zoom: 5
        });

        map.addControl(
            geocoder = new MapboxGeocoder({
                accessToken: mapboxgl.accessToken,
                countries: 'fr',
                mapboxgl: mapboxgl
            })
        );

        map.on('style.load', function() {
            geocoder.on('result', result => {
                document.getElementById("longitude").value = result["result"]["center"]["0"];
                document.getElementById("latitude").value = result["result"]["center"]["1"];
            });
        });
    </script>
{% endblock %}
